[package]
name = "incrementer"
version = "3.0.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"

[dependencies]
ink_primitives = { git = "https://github.com/paritytech/ink", branch = "master", default-features = false }
ink_metadata = { git = "https://github.com/paritytech/ink", branch = "master", default-features = false, features = ["derive"], optional = true }
ink_env = { git = "https://github.com/paritytech/ink", branch = "master", default-features = false }
ink_storage = { git = "https://github.com/paritytech/ink", branch = "master", default-features = false }
ink_lang = { git = "https://github.com/paritytech/ink", branch = "master", default-features = false }

scale = { package = "parity-scale-codec", version = "1.3", default-features = false, features = ["derive"] }
scale-info = { version = "0.4", default-features = false, features = ["derive"], optional = true }

[lib]
name = "incrementer"
path = "contracts/lib.rs"
crate-type = ["cdylib"]

[features]
default = ["std"]
std = [
    "ink_primitives/std",
    "ink_metadata",
    "ink_metadata/std",
    "ink_env/std",
    "ink_storage/std",
    "ink_lang/std",
    "scale/std",
    "scale-info",
    "scale-info/std",
]
ink-as-dependency = []
